.navbar{
    background-color: red;

}
.Text{
    font-size: 30px;
    font-weight: bold;
    align-self:center;
    text-align: center;
}

.box{
    align-items: center;
    justify-content: center;
    align-self: center;
}
.button{
     margin-left: 48%;
     background-color: red;
     color: white;
}